<!doctype html>
<!--Dont forget to run gulp after you set up basic html structure, this
saves it to the public directory.  Actually you can run gulp watch to keep
gulp files updated-->

<html>

<head>
    <title>Lemonade Stand</title>
    <!--Add css file-->
    <link rel="stylesheet" href="style.css">
    <!--add js file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="app.js"></script>

</head>

<body ng-app="LemonadeApp">
    <header>
        <h1>Lemonade Stand Game</h1>
        <div id="title">
            <img src="http://i66.tinypic.com/232rtx.png"></img>
            <img src="http://i66.tinypic.com/232rtx.png"></img>
            <img src="http://i66.tinypic.com/232rtx.png"></img>
            <img src="http://i66.tinypic.com/232rtx.png"></img>
            <img src="http://i66.tinypic.com/232rtx.png"></img>
            <img src="http://i66.tinypic.com/232rtx.png"></img>
        </div>
    </header>

    <section ng-controller="StatusListController">
        <ul id="updatesList">
            <status-list></status-list>
        </ul>

    </section>

    <section ng-controller="StockListController">
        <ul>

            <li ng-repeat="item in items">
                <h2>{{ item.name }<h2>
                <p>There are{{ item.count }}available.</p>
                <!--<quantity-select></quantity-select>-->
                <!--<input value="text" name="input" ng-model="item.price" placeholder="$2/each">-->
                <buy-button tapped-on="buy(item)" bought="item">Buy</buy-button>
            </li>

        </ul>

    </section>

    <button id="endGame">End Game</button>
   

</body>

</html>